@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Start Page Title-->
<div class="page-title-box">
    <h4 class="page-title">ERROR</h4>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
        </li>
    </ol>
    <div class="clearfix"></div>
</div>
<!--End Page Title-->


<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div style="min-height:500px;margin:10px">
                <hgroup>
                    <h1>Error.</h1>
                    <h2>An error occurred while processing your request.</h2>
                </hgroup>
                <p>
                    <b>Message: </b> @Model.Exception.Message
                </p>
                <p>
                    <b>Technical Details: </b> @Model.Exception.ToString();
                </p>
            </div>
        </div>
    </div>
</div>