
@{
    ViewBag.Title = "TrakME";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <a class="logo" href="#">Trak Me</a>
</div>
<div class="content">
    <h1>Hello.<span>We’re Coming Very Soon</span></h1>
    <div class="right_side">
        <p>// <a href="#">contact@mossllc.net</a><br />//+1 314 717 1499</p>
        <ul class="s_icons">
            <li class="fb"><a href="#"></a></li>
            <li class="tw"><a href="#"></a></li>
            <li class="in"><a href="#"></a></li>
        </ul>
    </div>
</div>