<!DOCTYPE html>
<html class="gr__apiwha_auth0_com">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="~/Assets/verify/index.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/verify/lock.css">
    <link rel="stylesheet" href="~/Assets/verify/email-confirmation.css">
    <!-- General Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  <!-- Force Latest IE rendering engine -->
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Email Verification</title>
</head>
<body id="result" data-gr-c-s-loaded="true">
    <div class="container">
        <div class="auth0-lock auth0-lock-opened-in-frame">
            <div class="auth0-lock-center">
                <form class="auth0-lock-widget">
                    <div class="auth0-lock-widget-container">
                        <span></span>
                        <div class="auth0-lock-cred-pane">
                            <span></span>
                            <div class="auth0-lock-header">
                            </div>
                            <div class="auth0-lock-body">
                                <div class="auth0-lock-confirmation">
                                    <div class="auth0-lock-confirmation-content">
                                        <span>
                                            <svg width="56px" height="56px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" class="checkmark">
                                                <circle cx="26" cy="26" r="25" fill="none" class="checkmark__circle"></circle>
                                                <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" class="checkmark__check"></path>
                                            </svg>
                                        </span>
                                        <h3>Email Verification</h3>
                                        <p><span>Your email was verified. You can continue using the <B>TrakMe</B> application.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>